#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    quick-tap-ms = <0>;
    require-prior-idle-ms = <125>;
    flavor = "tap-preferred";
};

&lt {
    quick-tap-ms = <200>;
    require-prior-idle-ms = <125>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_colon {
            bindings = <&kp COLON>;
            key-positions = <14 24>;
        };

        combo_semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <15 25>;
        };

        combo_comma {
            bindings = <&kp COMMA>;
            key-positions = <4 14>;
        };

        combo_period {
            bindings = <&kp PERIOD>;
            key-positions = <5 15>;
        };

        combo_lt4_L {
            bindings = <&lt 4 LEFT_GUI>;
            key-positions = <33 34>;
        };

        combo_lt4_R {
            bindings = <&lt 4 LEFT_GUI>;
            key-positions = <35 36>;
        };

        to_0 {
            bindings = <&to 0>;
            key-positions = <6 7 8>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q            &kp W             &kp E             &kp R               &kp T      &lt 5 Y          &kp U                &kp I              &kp O              &kp P
&kp A            &kp S             &mt LEFT_SHIFT D  &mt LEFT_CONTROL F  &kp G      &kp H            &mt RIGHT_CONTROL J  &mt RIGHT_SHIFT K  &kp L              &kp MINUS
&kp Z            &kp X             &kp C             &kp V               &kp B      &kp N            &kp M                &kp COMMA          &kp PERIOD         &kp SLASH
&mt LSHFT LANG2  &kp LEFT_CONTROL  &kp LEFT_ALT      &lt 1 SPACE         &lt 2 TAB  &lt 2 BACKSPACE  &lt 1 ENTER          &kp RIGHT_ALT      &kp RIGHT_CONTROL  &mt RIGHT_SHIFT LANG1
            >;
        };

        SYMBOL_ARROW {
            label = "SYMBOL_ARROW";
            bindings = <
&kp CARET    &kp TILDE     &kp PERCENT           &kp AMPERSAND           &kp DOUBLE_QUOTES  &kp LS(LA(LEFT))  &kp LC(LEFT)      &kp UP    &kp RC(RIGHT)  &kp RS(RA(RIGHT))
&kp AT_SIGN  &kp DOLLAR    &mt LEFT_SHIFT MINUS  &mt LEFT_CONTROL EQUAL  &kp SINGLE_QUOTE   &kp HOME          &kp LEFT          &kp DOWN  &kp RIGHT      &kp END
&kp HASH     &kp ASTERISK  &kp PIPE              &kp EXCLAMATION         &kp GRAVE          &kp COLON         &kp SEMICOLON     &trans    &trans         &kp BACKSLASH
&trans       &trans        &trans                &kp RC(LEFT_GUI)        &trans             &kp DELETE        &kp RC(LEFT_GUI)  &trans    &trans         &trans
            >;
        };

        NUMBER {
            label = "NUMBER";
            bindings = <
&trans  &trans  &trans          &kp LESS_THAN                      &kp GREATER_THAN       &kp PERCENT        &kp KP_N7  &kp KP_N8  &kp KP_N9   &kp KP_PLUS
&trans  &trans  &kp LEFT_SHIFT  &mt LEFT_CONTROL LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON          &kp KP_N4  &kp KP_N5  &kp KP_N6   &kp KP_MINUS
&trans  &trans  &trans          &kp LEFT_BRACE                     &kp RIGHT_BRACE        &kp KP_MULTIPLY    &kp KP_N1  &kp KP_N2  &kp KP_N3   &kp KP_SLASH
&trans  &trans  &trans          &kp LEFT_BRACKET                   &kp RIGHT_BRACKET      &kp LS(LA(SPACE))  &kp KP_N0  &kp KP_N0  &kp KP_DOT  &kp KP_DOT
            >;
        };

        MOUSE {
            label = "MOUSE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK  &mkp RCLK  &mkp MCLK  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans
            >;
        };

        FUNCTION {
            label = "FUNCTION";
            bindings = <
&kp F1  &kp F2   &kp F3          &kp F4        &kp PAGE_UP         &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2    &bt BT_SEL 3   &bt BT_SEL 4
&kp F5  &kp F6   &kp F7          &kp F8        &kp PAGE_DOWN       &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2   &bt BT_DISC 3  &bt BT_DISC 4
&kp F9  &kp F10  &kp F11         &kp F12       &kp PRINTSCREEN     &trans         &trans         &trans          &trans         &trans
&trans  &trans   &kp KP_NUMLOCK  &kp CAPSLOCK  &kp LA(LC(DELETE))  &bt BT_CLR     &trans         &bt BT_CLR_ALL  &trans         &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
